.image-preview,
.video-preview{
    min-height: 70px;
    height: 18.12vw;
    max-height: 100px;
}


.image-preview img,
.video-preview video{
    height: 100%;
    margin-right: 3vw;
    min-width: 70px;
    width: 18.12vw;
    max-width: 100px;
}

.delete-text{
    font-family: var(--second-font-family);
    font-size: min(max(10px, 2.9vw), 14px);
}